/*--about--*/
body{
  font-family: Arial;
  font-size: 12px;
}

.container{
  padding:0 15px !important;
  font-family: Arial;
  font-size: 12px;
}
.single_top {
  margin: 3em 0 0;
}
.about_left h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.about_left p{
	color:#000;
	font-family: Arial;
  font-size: 12px;
	line-height:1.8em;
}
.about_left a{
  font-family: arial, helvetica, sans-serif; 
  width: auto; height: auto; 
  display: inline !important; 
  font-size:12px;
  font-weight: bold; 
  color:#9EC928;
}
.faqs{
	margin-top:2em;
}
.faqs h2{
	color: #656363;
 
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom:1em;
}

.sidebar h2 {
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;

}
.testimonials {
  padding-top: 18px;
  position: relative;

}
.sidebar p {
  font-size: 0.9em;
  padding: 1.5em 0 0 0;
  color: #999;
  line-height: 1.8em;
  text-indent: 35px;
  font-style: italic;
}
.testimonials span.quotes {
  position: absolute;
  left: 0;
  top: 55px;
  width: 30px;
  height: 28px;
  background: url(../img/quotes.png) no-repeat;
}
.sidebar{
  padding-right: 100px;
}
.sidebar h2{
  color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
 
}
.sidebar h3 {
  color: #555;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight:600;
  margin-top: 0px;
}
.sidebar h3 span a {
  color: #00A1DA;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  padding-left: 9px;
  text-transform: lowercase;
}


.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus,
.btn2.focus,
.btn2:active.focus,
.btn2.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus,
.btn2.focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2.disabled,
.btn2[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-success1 {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1:hover,
.btn-success1:focus,
.btn-success1.focus,
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  color: #fff;
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  background-image: none;
}
.btn-success1.disabled,
.btn-success1[disabled],
fieldset[disabled] .btn-success1,
.btn-success1.disabled:hover,
.btn-success1[disabled]:hover,
fieldset[disabled] .btn-success1:hover,
.btn-success1.disabled:focus,
.btn-success1[disabled]:focus,
fieldset[disabled] .btn-success1:focus,
.btn-success1.disabled.focus,
.btn-success1[disabled].focus,
fieldset[disabled] .btn-success1.focus,
.btn-success1.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success1:active,
.btn-success1.disabled.active,
.btn-success1[disabled].active,
fieldset[disabled] .btn-success1.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success1 .badge {
  color: #5cb85c;
  background-color: #fff;
}