/*--contact--*/
body{
  font-family: Arial;
  font-size: 12px;
}
.container{
  padding:0 15px !important;
  font-family: Arial;
  font-size: 12px;
}
.single_top {
  margin: 13em 0 0;
}
.titlecontact h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.titlecontact p{
  font-size: 0.85em;
}
.namecontact ul li{
    font-family:Arial, Helvetica, sans-serif;
  	size:12px;
  	color: #000;
  	list-style: none;
}
.formcontact{
	width: 100%;
  padding-top: 25px;
}
.contact-top div{
	padding:1.7em 0;
}

.contact-top p{
  font-family: Arial;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}
.contact-top ul > li{
  font-family: Arial;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}
.map iframe {
	width: 100%;
	min-height: 321px;
	border: none;
}

.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus,
.btn2.focus,
.btn2:active.focus,
.btn2.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus,
.btn2.focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2.disabled,
.btn2[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-success1 {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1:hover,
.btn-success1:focus,
.btn-success1.focus,
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  color: #fff;
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  background-image: none;
}
.btn-success1.disabled,
.btn-success1[disabled],
fieldset[disabled] .btn-success1,
.btn-success1.disabled:hover,
.btn-success1[disabled]:hover,
fieldset[disabled] .btn-success1:hover,
.btn-success1.disabled:focus,
.btn-success1[disabled]:focus,
fieldset[disabled] .btn-success1:focus,
.btn-success1.disabled.focus,
.btn-success1[disabled].focus,
fieldset[disabled] .btn-success1.focus,
.btn-success1.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success1:active,
.btn-success1.disabled.active,
.btn-success1[disabled].active,
fieldset[disabled] .btn-success1.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success1 .badge {
  color: #5cb85c;
  background-color: #fff;
}