/*--diskon--*/
body{
  font-family: Arial;
  font-size: 12px;
}
.container{
	padding:0 15px !important;
  font-family: Arial;
  font-size: 12px;
}
.single_top {
  margin: 3em 0 0;
}
.discount_left p {
  font-size: 0.85em;
}
.discount_left h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.discount_left p{
	color:#000;
  font-family: Arial;
  font-size: 12px;
}
