
#footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #3D3D3D;
}

#footer a {
  color: #fff;
}


#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-links{
  font-family: Arial;
  font-size: 12px;
  color:  #ffffff;
  width: 45%;
}
#footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  #FFF;
}

#footer .footer-linksre{
  font-family: Arial;
  font-size: 12px;
  color:  #ffffff;
}
#footer .footer-linksre a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  #FFF;
}

.footer-distributed span{
  display: block;
  color:  #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-distributed p{
  display: block;
  color:  #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
}

#footer .emailname {
  font-family: Arial;
  font-size: 12px;
  color:  #ffffff;
  font-weight: normal;
}
/* Footer links */

.copyright {
  background-color: #2a2a2a;
}
.copyright p{
  text-align:center;
  padding-top:10px;
  font-size: 12px;
  font-family: Arial;
  color: #FFF;
}

/* Button */
.btn2foot {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 0;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn2foot:focus,
.btn2foot:active:focus,
.btn2foot.active:focus,
.btn2foot.focus,
.btn2foot:active.focus,
.btn2foot.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2foot:hover,
.btn2foot:focus,
.btn2foot.focus {
  color: #333;
  text-decoration: none;
}
.btn2foot:active,
.btn2foot.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2foot.disabled,
.btn2foot[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-success1foot {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1foot:hover,
.btn-success1foot:focus,
.btn-success1foot.focus,
.btn-success1foot:active,
.btn-success1foot.active,
.open > .dropdown-toggle.btn-success1foot {
  color: #3D3D3D;
  background-color: #FFF;
  border-color: #FFF;
}
.btn-success1foot:active,
.btn-success1foot.active,
.open > .dropdown-toggle.btn-success1foot {
  background-image: none;
}
.btn-success1foot.disabled,
.btn-success1foot[disabled],
fieldset[disabled] .btn-success1foot,
.btn-success1foot.disabled:hover,
.btn-success1foot[disabled]:hover,
fieldset[disabled] .btn-success1foot:hover,
.btn-success1foot.disabled:focus,
.btn-success1foot[disabled]:focus,
fieldset[disabled] .btn-success1foot:focus,
.btn-success1foot.disabled.focus,
.btn-success1foot[disabled].focus,
fieldset[disabled] .btn-success1foot.focus,
.btn-success1foot.disabled:active,
.btn-success1foot[disabled]:active,
fieldset[disabled] .btn-success1foot:active,
.btn-success1foot.disabled.active,
.btn-success1foot[disabled].active,
fieldset[disabled] .btn-success1foot.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success1foot .badge {
  color: #5cb85c;
  background-color: #fff;
}
