.welcome > p{
  padding-top: 12px;
  padding-bottom: 0px;
  color: #aaa;
}
.open > p{
  padding-left: 80px;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-right: 15px;
}
@media(max-width: 767px){
  .welcome > p{
    float: left;
    padding-left: 0px;
  }
  .open > p{
    float: right;
    padding-left: 0px;
  }
}
.dividing {
  padding-top:13px;
}
@media(max-width: 767px){
 .dividing li{
  display: none;
 }
}
.navbar{
  margin-bottom:10px;
}

.navbar-defaultheadhead {
  background-color: #f8f8f8;
  border-color: transparent;
}
.navbar-defaulthead .navbar-brand {
  color: #777;
}
.navbar-defaulthead .navbar-brand:hover,
.navbar-defaulthead .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-defaulthead .navbar-text {
  color: #777;
}
.navbar-defaulthead .navbar-nav > li > a {
  color: #777;
}
.navbar-defaulthead .navbar-nav > li > a:hover,
.navbar-defaulthead .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-defaulthead .navbar-nav > .active > a,
.navbar-defaulthead .navbar-nav > .active > a:hover,
.navbar-defaulthead .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-defaulthead .navbar-nav > .disabled > a,
.navbar-defaulthead .navbar-nav > .disabled > a:hover,
.navbar-defaulthead .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-defaulthead .navbar-toggle {
  border-color: #ddd;
}
.navbar-defaulthead .navbar-toggle:hover,
.navbar-defaulthead .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-defaulthead .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-defaulthead .navbar-collapse,
.navbar-defaulthead .horizontal2 {
  border-color: #e7e7e7;
}
.navbar-defaulthead .navbar-nav > .open > a,
.navbar-defaulthead .navbar-nav > .open > a:hover,
.navbar-defaulthead .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-defaulthead .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-defaulthead .navbar-link {
  color: #777;
}
.navbar-defaulthead .navbar-link:hover {
  color: #333;
}
.navbar-defaulthead .btn-link {
  color: #777;
}
.navbar-defaulthead .btn-link:hover,
.navbar-defaulthead .btn-link:focus {
  color: #333;
}
.navbar-defaulthead .btn-link[disabled]:hover,
fieldset[disabled] .navbar-defaulthead .btn-link:hover,
.navbar-defaulthead .btn-link[disabled]:focus,
fieldset[disabled] .navbar-defaulthead .btn-link:focus {
  color: #ccc;
}

.navbar-inverse{
	display: none;
}
.navbartop{	
	padding-left: 100px;
	padding-right: 100px;
}
.logo{
	float:left;
	padding-top: 10px;
	padding-left: 100px;
}
.topsearch{
	padding-top: 31px;
	width: 859px;
	padding-right: 85px;
}

@media(max-width:768px){
	.logo {
	  width:35%;
	  padding-top: 0px;
	  padding-left: 0px;
	}
	.logo img{
	  width:100%;
	}
	.topsearch{
	padding-top: 31px;
	width: 100%;
	}
}
@media(max-width:640px){
	.logo {
	  position: relative;
	  width: 100%;
	  padding-top: 0px;
	  padding-left: 0px;
	}
	.topsearch{
	padding-top: 31px;
	width: 100%;
	}
}


.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus,
.btn2.focus,
.btn2:active.focus,
.btn2.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus,
.btn2.focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2.disabled,
.btn2[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-success1 {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1:hover,
.btn-success1:focus,
.btn-success1.focus,
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  background-image: none;
}
.btn-success1.disabled,
.btn-success1[disabled],
fieldset[disabled] .btn-success1,
.btn-success1.disabled:hover,
.btn-success1[disabled]:hover,
fieldset[disabled] .btn-success1:hover,
.btn-success1.disabled:focus,
.btn-success1[disabled]:focus,
fieldset[disabled] .btn-success:1focus,
.btn-success1.disabled.focus,
.btn-success1[disabled].focus,
fieldset[disabled] .btn-success1.focus,
.btn-success1.disabled:active,
.btn-success1[disabled]:active,
fieldset[disabled] .btn-success1:active,
.btn-success1.disabled.active,
.btn-success1[disabled].active,
fieldset[disabled] .btn-success1.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success1 .badge {
  color: #5cb85c;
  background-color: #fff;
}

.horizontal2 {
  padding: 10px 15px;   
  margin-top: 30px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .horizontal2 .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .horizontal2 .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .horizontal2 .form-control-static {
    display: inline-block;
  }
  .horizontal2 .input-group {
    display: inline-table;
    vertical-align: middle; 
  }
  .horizontal2 .input-group .input-group-addon,
  .horizontal2 .input-group .input-group-btn,
  .horizontal2 .input-group .form-control {
    width: auto;
  }
  .horizontal2 .input-group > .form-control {
    width: 570px;
  }
  .horizontal2 .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .horizontal2 .radio,
  .horizontal2 .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .horizontal2 .radio label,
  .horizontal2 .checkbox label {
    padding-left: 0;
  }
  .horizontal2 .radio input[type="radio"],
  .horizontal2 .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .horizontal2 .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .horizontal2 .form-group {
    margin-bottom: 5px;
  }
  .horizontal2 .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .horizontal2 {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navbarsosmed{
  margin-top: 30px;
  margin-right: 85px;
}

.navbarsosmed li{
  margin-top: 20px;
  padding-top: 50px;
  margin-bottom: 8px;
  text-decoration: none;
  list-style: none;
  display: inline;
}

.navbarmenu li{
  margin-right: 12px; 
}
.navbarmenu > li > a {
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 20px;
  font-family:Arial, Helvetica, sans-serif;
  size:12px;
  color: #3d3d3d;
}

.navbarmenu > li > a:hover,
.navbarmenu > li > a:focus {
  font-family:Arial, Helvetica, sans-serif;
  size:12px;
  color: #FFF;
  background-color: #9ec928;
}

.navbarmenu .open > a,
.navbarmenu .open > a:hover,
.navbarmenu .open > a:focus {
  background-color: #9ec928;
  border-color: #9ec928;
  color: #FFF;
}

@media (max-width: 767px) {
  .navbarmenu .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
}
@media (min-width: 768px) {
  .navbarmenu {
    float: left;
    margin: 0;
  }
  .navbarmenu > li {
    float: left;
  }
  .navbarmenu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.dropdown-menuap {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-color: #B0E128;
}
.dropdown-menuap.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menuap .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menuap > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFF;
  white-space: nowrap;
}
.dropdown-menuap > li > a:hover,
.dropdown-menuap > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #9ec928;
}
.dropdown-menuap > .active > a,
.dropdown-menuap > .active > a:hover,
.dropdown-menuap > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #9ec928;
  outline: 0;
}
.dropdown-menuap > .disabled > a,
.dropdown-menuap > .disabled > a:hover,
.dropdown-menuap > .disabled > a:focus {
  color: #fff;
}
.dropdown-menuap > .disabled > a:hover,
.dropdown-menuap > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menuap {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menuap-right {
  right: 0;
  left: auto;
}
.dropdown-menuap-left {
  right: auto;
  left: 0;
}