body{
  font-family: Arial;
  font-size: 12px;
}
.container{
  padding:0 15px;
}
.center1 {
  text-align: center;
}

.captionslide{
  right: 20%;
  left: 20%;
  padding-bottom: 150px;
  padding-right: 430px;
  padding-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  color: #000;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
.topcarousel{
  margin-top: 0px;
}
.lates{
  margin: 0 auto;
  background-color: #FFF;
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  float: right;
  padding-top: 0px;
  padding-bottom: 10px;  
}

.imglates{
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 10px; 
}
.viewlates{
  color: #9ec928;
  font-family: Arial;
  font-size: 12px;
  float: right;
  text-align: center;
  padding-top: 30px;
}
.viewlates:hover{
  color: #9ec928;
  font-family: Arial;
  font-size: 12px;
  float: right;
  text-align: center;
  text-decoration: none;
}

.thumblabel{
  background-color: #f0f5f7;
  border: 0;
  padding: 20px;

}

.thumblabel {
  text-decoration: none;
  display: inline-block;
  display: block;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #f0f5f7;
  border: 0px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumblabel > img,
.thumblabel a > img {
  margin-right: auto;
  margin-left: auto;

}


.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus,
.btn2.focus,
.btn2:active.focus,
.btn2.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus,
.btn2.focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2.disabled,
.btn2[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-success1 {
  color: #fff;
  background-color: #9ec928;
  border-color: #9ec928;
}
.btn-success1:hover,
.btn-success1:focus,
.btn-success1.focus,
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  color: #fff;
  background-color: #3D3D3D;
  border-color: #3D3D3D;
}
.btn-success1:active,
.btn-success1.active,
.open > .dropdown-toggle.btn-success1 {
  background-image: none;
}
.btn-success1.disabled,
.btn-success1[disabled],
fieldset[disabled] .btn-success1,
.btn-success1.disabled:hover,
.btn-success1[disabled]:hover,
fieldset[disabled] .btn-success1:hover,
.btn-success1.disabled:focus,
.btn-success1[disabled]:focus,
fieldset[disabled] .btn-success1:focus,
.btn-success1.disabled.focus,
.btn-success1[disabled].focus,
fieldset[disabled] .btn-success1.focus,
.btn-success1.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success1:active,
.btn-success1.disabled.active,
.btn-success1[disabled].active,
fieldset[disabled] .btn-success1.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success1 .badge {
  color: #5cb85c;
  background-color: #fff;
}

.carousel-controlhome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  filter: alpha(opacity=50);
}
.carousel-controlhome.left {
  background-repeat: repeat-x;
}
.carousel-controlhome.right {
  right: 0;
  left: auto;
  background-repeat: repeat-x;
}
.carousel-controlhome:hover,
.carousel-controlhome:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
}
.carousel-controlhome .icon-prev,
.carousel-controlhome .icon-next,
.carousel-controlhome .glyphicon-chevron-left,
.carousel-controlhome .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-controlhome .icon-prev,
.carousel-controlhome .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-controlhome .icon-next,
.carousel-controlhome .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-controlhome .icon-prev,
.carousel-controlhome .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
  line-height: 1;
}
.carousel-controlhome .icon-prev:before {
  content: '\2039';
}
.carousel-controlhome .icon-next:before {
  content: '\203a';
}
.chevron-besar{
  top:40% !important;
  font-size: 60px;
  color:#9EC928;
}

.ca-nav span{
  width:25px;
  height:38px;
  background:transparent url(../image/arrows.png) no-repeat top left;
  position:absolute;
  top:50%;
  margin-top:-90px;
  text-indent:-9000px;
  opacity:0.7;
  cursor:pointer;
  z-index:100;
}