/*--franchise--*/
body{
  font-family: Arial;
  font-size: 12px;
}
.container{
  padding:0 15px !important;
  font-family: Arial;
  font-size: 12px;
}
.single_top {
  margin: 3em 0 0;
}
.franchise_left p {
  font-size: 0.85em;
}
.franchise_left h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.franchise_left p{
  color:#000;
  line-height:1.8em;
  font-family: Arial;
  font-size: 12px;
}
.franchise_left a{
  font-family: arial, helvetica, sans-serif; 
  width: auto; height: auto; 
  display: inline !important; 
  font-size:12px;
  font-weight: bold; 
  color:#9EC928;
}
