/*--latest--*/
.container{
  padding:0 15px !important;
}
.single_top {
  margin: 3em 0 0;
}
.about_left p {
  font-size: 0.85em;
}
.latest_left h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.latest_left img{
	margin-bottom:1em;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 25px;
}
.latest_left p{
	color:#999;
	font-size:0.95em;
	line-height:1.8em;
}
