/*--outlet--*/
body{
  font-family: Arial;
  font-size: 12px;
}
.container{
  padding:0 15px !important;
  font-family: Arial;
  font-size: 12px;
}
.single_top {
  margin: 13em 0 0;
}
.titleoutlet{
  font-family: Arial;
  font-size: 12px;
}
.titleoutlet h2{
  font-size: 25px;
  color: #2D53C2;
  padding: 3px 0;
  border-bottom: 1px solid #dddddd;
   color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.nameoutlet{
  font-family: Arial;
  font-size: 12px;
}
.nameoutlet ul li{
    font-family:Arial, Helvetica, sans-serif;
  	size:12px;
  	color: #000;
  	list-style: none;
}
