
/* Circular Content Carousel Style */
.ca-container{
	position: relative;
	padding-top:1em;
	height:500px;
}
.ca-container1{
	position: relative;
	padding-top:1em;
	height: 450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:320px;
	height:100%;
	text-align:LEFT;
}
.ca-item-main{
	padding: 20px;
	top: 55px;
	left: 15px;
	right: 5px;
	bottom: 5px;
	background: #fff;
	overflow: hidden;
}
.ca-icon{
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
}

.ca-item h3{
	padding:30px 0 5px;
}
.ca-item h3 a{
	text-transform:uppercase;
	font-size:1.2em;
	color:#000;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
.ca-item h3 a:hover{
	color: #F58972;
}
.ca-item h4{
	position: relative;
	color: #555;
	margin: 0.8em 0;
	line-height: 1.8em;
	font-weight: 300;
	font-size: 0.89em;
	font-family: 'Droid Sans', sans-serif;
	font-style: italic;
}
.ca-content-wrapper{
	background:ghostwhite;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:1440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:100%;
	overflow:hidden;
}
.ca-content-text{
	padding: 10px 36px;
	color: #999;
	line-height: 1.8em;
	font-weight: 300;
	font-size: 0.875em;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:1.2em;
	padding-bottom:5px;
	color:#252525;
	border-bottom:2px solid #eee;
	text-shadow: 1px 1px 1px #eee;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../imag/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-50px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right: 0px;
}
.ca-nav span:hover{
	opacity:1.0;
}
.content-middle{
	border-bottom:2px solid #F5F5F5;
}
.content-middle-bottom{
	border-top:2px solid #F5F5F5;
	border-bottom:2px solid #F5F5F5;
}
